body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-color: rgb(124, 155, 155);
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(185, 112, 112, 0.1);
}

label {
    font-weight: bold;
}

