.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    margin-top: 20px;
  }
  
  
  form {
    width: 400px;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  textarea.form-control {
    resize: vertical;
  }
  